@use "../../assets/variables.scss" as var;

.wrapper {
  width: 100%;
  background-color: var.$background-color-blue;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.info {
  display: block;
}

.name {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.logout {
  background-color: var.$background-color-white;
  color: var.$text-black-color;
  border: 1px var.$border-color-gray solid;
  padding: 8px 12px;
  border-radius: 12px;
  transition: background-color 0.2s;
  margin-top: 20px;
  cursor: pointer;
}

.logout:hover {
  background-color: var.$background-color-blue;
}
