$background-color-main: #f9fbff;
$background-color-white: #fefeff;
$background-color-blue: #f0f8fe;
$element-background-color-blue: #aed9ff;
$element-background-color-gray: #e5e6eb;
$text-black-color: #212121;
$text-gray-color: #6d6e70;
$text-blue-color: #006ece;
$border-color-gray: #e7e7e7;
$border-color-blue: #51aeff;
$block-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
